TYPESENSE_ADMIN_API_KEY=YOUR_TYPESENSE_API_KEY_WITH_WRITE_ACCESS
TYPESENSE_HOST=YOUR_TYPESENSE_SERVER_URL

NEXT_PUBLIC_TYPESENSE_HOST=https://typesense.swiftlylabs.net
NEXT_PUBLIC_TYPESENSE_SEARCHONLY_KEY=frSrMzutCSn2sPCpQJfdAUSngE9TqFN5