<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <title>Swiftly</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="noopener" target="_blank"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body
    style="font-family: Poppins,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif!important; height: fit-content; display: block; background: #f6f6f6; background-repeat: no-repeat; background-attachment: fixed; margin: 0; min-height: 100vh; color: #2c2c2c;">
    <div
        style="background-image: url('https://i.imgur.com/fknpS3K.png'); background-repeat: no-repeat; background-size: cover; display: flex; justify-content: center; margin-left: auto; margin-right: auto; padding: 20px; cursor: pointer;">
        <a href="https://swiftlycs2.net" style="margin-left: auto; margin-right: auto;">
            <img src="https://cdn.swiftlycs2.net/swiftly-logo.png" height="100" />
        </a>
    </div>
    <div
        style="font-family: Poppins,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif!important; margin-top: 2rem; max-width: 575px; font-size: 14px; border-radius: 1rem; background-color: #fff; margin-left: auto; margin-right: auto; padding: 32px;">
        <h1 style="text-align: center; margin: 0; font-weight: 700; font-size: 22px;">Greetings! 🧐</h1>
        <br />
        {content}
        <br />
        <br />
        <div
            style="width: 100%; padding: 0px; border-radius: 50px; background: rgb(94, 94, 94); height: 1px; margin-top: 1rem; margin-bottom: 1rem;">
        </div>
        <br />
        <div style="text-align: center;">
            <h4 style="margin: 0; font-weight: 500; font-size: 12px;">In case you need help with a problem of any nature<br/>related to <b>Swiftly</b>, contact us as soon as possible.</h4>
            <h4
                style="cursor: pointer; margin: 0; margin-top: .5rem; margin-bottom: 1rem; font-weight: 500; font-size: 12px;">
                <a href="https://swiftlycs2.net/discord" style="color: #2c2c2c">Discord</a> | <a href="https://github.com/swiftly-solution" style="color: #2c2c2c">Github</a>
            </h4>
        </div>
    </div>

    <div style="margin-top: 2rem; margin-left: auto; margin-right: auto; text-align: center; max-width: 640px;">
        <a href="https://swiftlys2.net">
            <img src="https://cdn.swiftlycs2.net/swiftly-logo.png" height="32" width="32"
                style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; border-radius: .4rem;" />
        </a>
        <div style="display: block;"><a href="https://swiftlys2.net" style="text-decoration: none; color: #2c2c2c">Swiftly Solution</a>. All rights reserved.</div>
    </div>
</body>

</html>